.ontochoice {
  position: absolute;
  top: 176px;
  left: 65px;
  font-weight: 900;
  display: inline-block;
  width: 309px;
  height: 57px;
}
.choosing-terms-and {
  margin: 0;
}
.choosing-terms-and-container {
  position: absolute;
  top: 304px;
  left: 65px;
  font-size: 105px;
  font-weight: 500;
  display: inline-block;
  width: 598px;
  height: 381px;
}
.innovation-thats-consistent {
  position: absolute;
  top: 811px;
  left: 79px;
  font-weight: 500;
  display: inline-block;
  width: 737px;
  height: 65px;
}
.back-image-icon,
.network-graphic-1-icon {
  position: absolute;
  top: 182px;
  left: 836px;
  width: 616px;
  height: 603px;
  object-fit: cover;
}
.network-graphic-1-icon {
  top: 258px;
  left: 709px;
  width: 648px;
  height: 452px;
}
.macbook-pro-14-1-child {
  position: absolute;
  top: 795px;
  left: 63px;
  border: 4px solid #c6d64d;
  box-sizing: border-box;
  width: 651px;
  height: 97px;
  overflow: hidden;
}
.macbook-pro-14-1 {
  width: 100%;
  position: relative;
  background-color: #000;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
